body {
  text-align: center;
  background-color: violet;
  margin: 0em;
}

.joel {
  width: 100%;
  background-color: aliceblue;
  display: block;
  position: sticky;
  top: 0em;
}

.joelImg {
  margin: auto;
  display: flex;
  border-radius: 15em;
  width: 75%;
  background-color: aquamarine;
  padding: 1em;
  height: 50vh;
}

img {
  width: 100%;
  border-radius: 15em;
}
.joelImg:hover {
  width: 100%;
  border: 5px dotted purple;
  background-color: aquamarine;
}

.col {
  display: flex;
}
.row {
  color: black;
  font-weight: bold;
  padding: 1.5em;
  background-color: bisque;
  display: block;
  text-align: center;
  margin: 2em;
  width: 50%;
  border: 2px solid black;
  border-radius: 2em;
}

.row:hover {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.719);
}
